<div class="container mt-2">
    <div class="col-md-12 background_header">
        <div class="col-md-3" style="height: 40vh; display: flex; align-items: center;">
            <img [src]="userData?.profileImage" class="rounded img-fluid img_width" alt="" style="object-fit: cover; width: 100%; height: 100%;">
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-3" style="height: 10vw">
            <!-- Contenido del div de arriba -->
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-8 mt-1">
            <h2>{{ userData?.username }}</h2>
        
            <div class="info-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="fas fa-cubes"></i>
                            <span>Cantidad de Productos</span>
                            <p>{{ userData?.countPublishedProducts }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="fas fa-thumbs-up"></i>
                            <span>Número de Likes</span>
                            <p>{{ userData?.count_likes }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-item">
                            <i class="fas fa-users"></i>
                            <span>Número de Seguidores</span>
                            <p>{{ userData?.count_followers }}</p>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="info-item" *ngIf="this.showFollow">
                            <button class="btn btn-primary" (click)="controlClickFollow()">
                                <span>{{ isFollowing }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-list-products-profile [title]="'Productos publicados'" [dataProducts]="dataProductsPublished">

    </app-list-products-profile>

    <app-list-products-profile [title]="'Productos favoritos'" [dataProducts]="dataProductsFavourited">

    </app-list-products-profile>
</div>

<app-toastr></app-toastr>

