<div class="header">
    <div class="buttons">
        <button mat-button [routerLink]="['/home']">Inicio</button>
        <button mat-button [routerLink]="['/shop']">Tienda</button>
        <div *appShowAuthed="false">
            <button mat-button [routerLink]="['/login']" routerLinkActive="active">Login</button>
            <button mat-button [routerLink]="['/register']" routerLinkActive="active">Register</button>
        </div>
        
        
    </div>
    <div class="user-info" *appShowAuthed="true">
        <p>{{ currentUser.username }}</p>
        <img mat-card-sm-image src="{{ currentUser.profileImage }}" class="rounded-image">
        <button mat-button [routerLink]="['/admin']" routerLinkActive="active">Panel de admin</button>
        <button mat-button [routerLink]="['/profile/'+currentUser.username]" routerLinkActive="active">Profile</button>
        <button mat-button (click)="logout()">Cerrar sessión</button>    
    </div>
</div>
<app-toastr></app-toastr>