<form [formGroup]="form">
    <div class="container-fluid">
        <div class="row">
            <h3>Filtros</h3>
        </div>
        
        <div class="row">
            <mat-form-field>
                <mat-label>Categorias</mat-label>
                <mat-select formControlName="categories"
                (selectionChange)="filter_products()" multiple>
                  <mat-option *ngFor="let category of listCategories" 
                  [value]="category.slug">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Desde: </mat-label>
                <input formControlName="price_min"
                    (change)="filter_products()"
                    matInput type="number" class="example-right-align" 
                    placeholder="0">
                <span matTextPrefix>€&nbsp;</span>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Hasta: </mat-label>
                <input formControlName="price_max"
                    (change)="filter_products()"
                    matInput type="number" class="example-right-align" 
                    placeholder="0">
                <span matTextPrefix>€&nbsp;</span>
            </mat-form-field>
        </div>
    </div>
</form>

<button (click)="remove_all()" type="button" class="btn btn-danger">Borrar Filtros</button>