<ng-template *ngIf="$dataTest | async as dataTest">
  <div class="col-md-12">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <!-- <div> -->
        <mdb-carousel-item *ngFor="let items of dataTest">
          <div class="row">
            <div class="col-md-3" >
              <img
              src="https://picsum.photos/200/300"
              class="d-block w-100"
              alt="..."
            />
            </div>
            <div class="col-md-6">
              <img
              src="https://picsum.photos/200/300"
              class="d-block w-100"
              alt="..."
            />
            </div>
            <!-- <div *ngFor="let item of preLoadData" class="col-md-6">
              <img
                src="https://picsum.photos/200/300"
                class="d-block w-100"
                alt="..."
              />
              
            </div> -->
          </div>
        </mdb-carousel-item>
      <!-- </div> -->
    </mdb-carousel>
  </div>
</ng-template>

<!-- <div *ngFor="let subArray of preLoadData">
  <div *ngFor="let item of subArray">
    <div>
      Slug: {{ item.slug }}
    </div>
    <div>
      Imagen: <img [src]="item.images" alt="{{ item.slug }}">
    </div>
  </div>
</div> -->