<section class="container_catecories">
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Deporte</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Consolas</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Motor</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Bicicletas</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Jardineria</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Deporte</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Consolas</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Motor</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Bicicletas</p>
    </div>
    <div class="container_category">
        <img src="https://picsum.photos/200/300" alt="">
        <p>Jardineria</p>
    </div>
    
</section>
