
<div *ngIf="workingInShop">
    <form [formGroup]="form" class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input formControlName="title" (keyup.enter)="searchProductForShop()" matInput type="text">
        </mat-form-field>
    </form>
</div>

<div *ngIf="!workingInShop">
    <form [formGroup]="form" class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input formControlName="title" (keyup.enter)="searchProducts()" matInput type="text">
        </mat-form-field>
    </form>
</div>
