<app-search (filterEvent)="saveTitle($event)"></app-search>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3">
      <app-filters (filterEvent)="getListFiltered($event)"></app-filters>
    </div>
    <div class="col-md-9">
      <div class="container row align-items-center">
        <div *ngIf="!dataProducts" >
          <h2 class="text-center mt-2">No se han encontrado productos con los parámetros indicados.</h2>
        </div>
        <div class="container">
          <div class="row">
            <div *ngFor="let item of dataProducts" class="my-2 col-lg-4 col-md-6">
              <app-card-product 
              [dataProduct]="item"></app-card-product>
            </div>
          </div>  
        </div>
      </div>
      
      <div *ngIf="numItems">
        <app-pagination (paginationEvent)="testPagination($event)" [numItems]="numItems" [numItemsXPage]="4"></app-pagination>
      </div>
      
    </div>
  </div>
</div>