<app-search (filterEvent)="saveTitle($event)"></app-search>

<app-filters (filterEvent)="getListFiltered($event)"></app-filters>

<div class="container_products">
  <div *ngIf="!dataProducts">
    <p>no hay productos</p>
  </div>
  <div *ngFor="let item of dataProducts">
    <app-card-product 
    [dataProduct]="item"></app-card-product>
  </div>
</div>

<div *ngIf="numItems">
  <app-pagination (paginationEvent)="testPagination($event)" [numItems]="numItems" [numItemsXPage]="4"></app-pagination>
</div>
